.discount-total {
    margin-left: 15px;
    color: #990000 !important;
    font-style: italic;
}

.black-text {
    color: #000000 !important;
    font-style: italic;
}

.blank-cell, .table-striped>tbody>tr .blank-cell{
    color: #000000;
    border: 0px;
    background-color: transparent !important;
}

.cell-text-right {
    text-align: right;
}

.offer-applied {
    margin-left: 15px;
}

.offer-saving {
    margin-left: 15px;
    color: #990000;
    font-style: italic;
    font-size: small;
}